body{
    background-color: #000;
    color: #1eeb22;
    height: 100vh;
    overflow: hidden;
}

pre{
    font-family: monospace;
    font-size: 9px;
}

.donut-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}